@charset "UTF-8";
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,header,menu,section,p,input,td,th,footer {padding: 0;margin:0;}
html,body {width: 100%;height: 100%;border: 0;}
body,select,input,button {font-size: 12px;color: #333;font-family: arial,helvetica,sans-serif;}
ul {list-style: none;}
a {text-decoration: none;color:#333;}
input:focus,textarea:focus,span:focus,a:focus {outline: none;}
img {border: 0;}

/*布局类*/
.g {}

/*功能类*/
.f {}

/*单元类*/
.u {}

/*组件类*/
.m {}
